<h1>Информация о залах</h1>
<table>
  <thead>
    <th>Название</th>
    <th></th>
    <th></th>
  </thead>
  <tbody>
    <% @halls.each do |hall| %>
      <tr>
        <td><%= hall.title %></td>
        <td><%= link_to "Изменить", edit_hall_path(hall.id) %></td>
        <td><%= link_to "Удалить", hall_path(hall.id), method: :delete, confirm: "Вы уверены?" %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<% if params[:utf8] %>
  <h1>Информация о товарах</h1>
  <%= render 'shipments/table' %>
<% end %>
